<section class="trainers section-offset" id="trainers">
  <div class="container">
    <h2 class="section-title trainers__title">Профессиональные тренеры</h2>
  </div>
  <div class="trainers__wrapper">
    <div class="swiper trainers__content">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="trainers__item">
            <picture>
              <source srcset="img/trainer-1.avif" type="image/avif">
              <source srcset="img/trainer-1.webp" type="image/webp">
              <img loading="lazy" src="img/trainer-1.jpg" class="trainers__image" width="360" height="500" alt="img">
            </picture>
            <h5 class="trainers__name">Ирина Лайм</h5>
            <p class="trainers__post">преподаватель по робототехнике</p>
            <button class="btn-reset trainers__btn" data-graph-path="#">Подробнее</button>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="trainers__item">
            <picture>
              <source srcset="img/trainer-2.avif" type="image/avif">
              <source srcset="img/trainer-2.webp" type="image/webp">
              <img loading="lazy" src="img/trainer-2.jpg" class="trainers__image" width="360" height="500" alt="img">
            </picture>
            <h5 class="trainers__name">Марина Орлова</h5>
            <p class="trainers__post">преподаватель по робототехнике</p>
            <button class="btn-reset trainers__btn" data-graph-path="#">Подробнее</button>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="trainers__item">
            <picture>
              <source srcset="img/trainer-3.avif" type="image/avif">
              <source srcset="img/trainer-3.webp" type="image/webp">
              <img loading="lazy" src="img/trainer-3.jpg" class="trainers__image" width="360" height="500" alt="img">
            </picture>
            <h5 class="trainers__name">Максим Петров</h5>
            <p class="trainers__post">преподаватель по программированию</p>
            <button class="btn-reset trainers__btn" data-graph-path="#">Подробнее</button>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="trainers__item">
            <picture>
              <source srcset="img/trainer-4.avif" type="image/avif">
              <source srcset="img/trainer-4.webp" type="image/webp">
              <img loading="lazy" src="img/trainer-4.jpg" class="trainers__image" width="360" height="500" alt="img">
            </picture>
            <h5 class="trainers__name">Константин Назаров</h5>
            <p class="trainers__post">преподаватель по робототехнике</p>
            <button class="btn-reset trainers__btn" data-graph-path="#">Подробнее</button>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="trainers__item">
            <picture>
              <source srcset="img/trainer-5.avif" type="image/avif">
              <source srcset="img/trainer-5.webp" type="image/webp">
              <img loading="lazy" src="img/trainer-5.jpg" class="trainers__image" width="360" height="500" alt="img">
            </picture>
            <h5 class="trainers__name">Лиза Весенняя</h5>
            <p class="trainers__post">преподаватель по программированию</p>
            <button class="btn-reset trainers__btn" data-graph-path="#">Подробнее</button>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="trainers__item">
            <picture>
              <source srcset="img/trainer-1.avif" type="image/avif">
              <source srcset="img/trainer-1.webp" type="image/webp">
              <img loading="lazy" src="img/trainer-1.jpg" class="trainers__image" width="360" height="500" alt="img">
            </picture>
            <h5 class="trainers__name">Ирина Лайм</h5>
            <p class="trainers__post">преподаватель по робототехнике</p>
            <button class="btn-reset trainers__btn" data-graph-path="#">Подробнее</button>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="trainers__item">
            <picture>
              <source srcset="img/trainer-2.avif" type="image/avif">
              <source srcset="img/trainer-2.webp" type="image/webp">
              <img loading="lazy" src="img/trainer-2.jpg" class="trainers__image" width="360" height="500" alt="img">
            </picture>
            <h5 class="trainers__name">Марина Орлова</h5>
            <p class="trainers__post">преподаватель по робототехнике</p>
            <button class="btn-reset trainers__btn" data-graph-path="#">Подробнее</button>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="trainers__item">
            <picture>
              <source srcset="img/trainer-3.avif" type="image/avif">
              <source srcset="img/trainer-3.webp" type="image/webp">
              <img loading="lazy" src="img/trainer-3.jpg" class="trainers__image" width="360" height="500" alt="img">
            </picture>
            <h5 class="trainers__name">Максим Петров</h5>
            <p class="trainers__post">преподаватель по программированию</p>
            <button class="btn-reset trainers__btn" data-graph-path="#">Подробнее</button>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="trainers__item">
            <picture>
              <source srcset="img/trainer-4.avif" type="image/avif">
              <source srcset="img/trainer-4.webp" type="image/webp">
              <img loading="lazy" src="img/trainer-4.jpg" class="trainers__image" width="360" height="500" alt="img">
            </picture>
            <h5 class="trainers__name">Константин Назаров</h5>
            <p class="trainers__post">преподаватель по робототехнике</p>
            <button class="btn-reset trainers__btn" data-graph-path="#">Подробнее</button>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="trainers__item">
            <picture>
              <source srcset="img/trainer-5.avif" type="image/avif">
              <source srcset="img/trainer-5.webp" type="image/webp">
              <img loading="lazy" src="img/trainer-5.jpg" class="trainers__image" width="360" height="500" alt="img">
            </picture>
            <h5 class="trainers__name">Лиза Весенняя</h5>
            <p class="trainers__post">преподаватель по программированию</p>
            <button class="btn-reset trainers__btn" data-graph-path="#">Подробнее</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="trainers__nav">
      <div class="trainers__scroll swiper-scrollbar"></div>
      <div class="trainers__slider-btns">
        <button class="trainers__slider-btn trainers__slider-btn--prev btn-reset" aria-label="#"></button>
        <button class="trainers__slider-btn trainers__slider-btn--next btn-reset" aria-label="#"></button>
      </div>
    </div>
  </div>
</section>
